<template>
  <section class="hero is-success is-fullheight">
    <div class="hero-body">
      <div class="container has-text-centered">
        <div class="column is-4 is-offset-4">
          <h3 class="title has-text-grey">Register</h3>
          <p class="subtitle has-text-grey">Please fill out the required fields.</p>
          <div class="box">
            <figure class="avatar">
              <img src="https://placehold.it/128x128">
            </figure>
            <div class="notification  is-info" v-if="success">
              <p>Registration completed. You can now
                <router-link :to="{name:'login'}">sign in.</router-link>
              </p>
            </div>
            <form autocomplete="off" @submit.prevent="register" v-if="!success" method="post">

              <div class="field">
                <div class="control" v-bind:class="{ 'has-error': error && errors.name }">
                  <input id="name" class="input is-large" type="text" placeholder="John Doe" v-model="user.name" autofocus="true" required>
                  <span class="help is-danger" v-if="error && errors.name">{{ errors.name }}</span>
                </div>
              </div>

              <div class="field">
                <div class="control" v-bind:class="{ 'has-error': error && errors.email }">
                  <input id="email" class="input is-large" type="email" placeholder="user@example.com" v-model="user.email" required>
                  <span class="help is-danger" v-if="error && errors.email">{{ errors.email }}</span>
                </div>
              </div>

              <div class="field">
                <div class="control" v-bind:class="{ 'has-error': error && errors.password }">
                  <input id="password" class="input is-large" type="password" placeholder="Your Password" v-model="user.password" required>
                  <span class="help is-danger" v-if="error && errors.password">{{ errors.password }}</span>
                </div>
              </div>

              <div class="field">
                <div class="control" v-bind:class="{ 'has-error': error && errors.password }">
                  <input id="password_confirmation" class="input is-large" type="password" placeholder="Confirm Your Password" v-model="user.password_confirmation" required>
                  <span class="help is-danger" v-if="error && errors.password">{{ errors.password }}</span>
                </div>
              </div>

              <button class="button is-block is-info is-large is-fullwidth" :disabled="sendingRequest == true">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
  import request from "../repository/request";
  export default {
    data() {
      return {
        user: {
          name: null,
          email: null,
          password: null,
          password_confirmation: null
        },
        errors: {},
        success: false,
        error: false,
        sendingRequest: false
      };
    },
    methods: {
      resetUserData() {
        this.user = {
          name: null,
          email: null,
          password: null,
          password_confirmation: null
        }
      },
      register() {
        var app = this;

        let payload = {
          user: app.user,
          vueInstance: app
        };

        app.error = false;
        app.sendingRequest = true;

        Store.dispatch('register', payload);
      }
    }
  };
</script>

<style>
  .hero.is-success {
    background: #ffffff;
  }

  .hero .nav,
  .hero.is-success .nav {
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .box {
    margin-top: 5rem;
  }

  .avatar {
    margin-top: -70px;
    padding-bottom: 20px;
  }

  .avatar img {
    padding: 5px;
    background: #fff;
    border-radius: 50%;
    -webkit-box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
    box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
  }

  input {
    font-weight: 300;
  }

  p {
    font-weight: 700;
  }

  p.subtitle {
    padding-top: 1rem;
  }
</style>
