<template>
  <div class="container">
    <div class="column is-12">
      <div class="box">
        <div class="field is-grouped">
          <h3 class="control title"><strong>Bus Station Management</strong></h3>
        </div>
        <hr>
        <h4 class="has-text-gry">
          Management and administration of vehicles to make your dispatch process more efficient.
        </h4>
        <hr>
        <p class="has-text-grey"> <strong>Technical Information</strong> </p>
         <ul class="menu-list">
          <li><a>Laravel 5.6 As Backend API</a></li>
          <li><a>VueJs As Client To Consume Services From API</a></li>
          <li><a>Vue CLI</a></li>
          <li><a>MYSQL</a></li>
          <li><a>GIT</a></li>
          <li><a>BULMA CSS For Application Style</a></li>
          <li><a>Composer As Packages Management</a></li>
          <li><a>OAuth Authentication / Laravel Passport</a></li>
          <li><a>Branch Implementation On Git Repository</a></li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "home",
  data() {
    return {
      heading: "Soaring to new heights",
      subheading:
        "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    };
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="sass" scoped>
@import '../mq'

.hero
  background-size: cover

  .title
    +mobile
      font-weight: bold
    +tablet
      font-size: 2.5rem
    +desktop
      font-size: 4rem
      margin-top: 2rem

h2
  margin: 1.5rem 0 2rem 0 !important

.fa-cog
  font-size: 40px

#learn
  +desktop
    margin-bottom: 2rem

.pd
  +tablet
    padding: 2em 0

</style>
