<template>
  <div class="navbar has-shadow">
    <div class="container">
      <div class="navbar-brand">
        <a class="navbar-item">Bus Station</a>

        <span class="navbar-burger" v-on:click="toggleNav" v-bind:class="{ 'is-active': isActive }">
                            <span></span>
        <span></span>
        <span></span>
        </span>
      </div>

      <div class="navbar-end navbar-menu" v-bind:class="{ 'is-active': isActive }">
        <router-link :to="{ name: 'home'}" class="navbar-item r-item">Home</router-link>
        <router-link :to="{ name: 'login'}" v-if="! isAuth" class="navbar-item r-item">Login</router-link>
        <router-link :to="{ name: 'register'}" v-if="! isAuth" class="navbar-item r-item">Register</router-link>

        <div v-if="isAuth && isAdmin" v-bind:class="{ 'dropdown is-active': isActive, 'dropdown' : !isActive }" v-on:click="toggleNav">
          <div class="navbar-item r-item">
            <a class="navbar-item r-item" aria-haspopup="true" aria-controls="dropdown-menu">
              <span>Administration</span>
              <span class="icon is-small">
                                  <i class="fas fa-angle-down" aria-hidden="true"></i>
                                </span>
            </a>
          </div>

          <div class="dropdown-menu" id="dropdown-menu" role="menu">
            <div class="dropdown-content" v-for="item in items" :key="item.name">
              <router-link :to="{ name: item.route}" class="dropdown-item custom-route">
                {{item.name}}
              </router-link>
            </div>
          </div>
        </div>
        <router-link :to="{ path: '#'}" v-if="isAuth" @click.native="logOut" class="navbar-item r-item">Logout</router-link>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: "navigation",
    computed: {
      isAuth () {
        return Store.getters.isAuthenticated;
      },  
      isAdmin (){
        return Store.getters.isAdmin;
      }
    },
    data: function() {
      return {
        items: [
          {
            name: 'User Management',
            route: 'users.index'
          },
          {
            name: 'Bus Management',
            route: 'buses.index'
          },
          {
            name: 'Terminals Management',
            route: 'terminal.index'
          },
          {
            name: 'Routes Management',
            route: 'routes.index'
          }
        ],
        isActive: false
      };
    },
    methods: {
      toggleNav: function() {
        this.isActive = !this.isActive;
      },
      logOut: function() {
        var app = this;
        const data =  {
          vueInstance: app,
          redirectTo: '/home'
        };
        Store.dispatch('logout', data);
      }
    }
  };
</script>

<style lang="sass">
@import '../../node_modules/bulma/bulma.sass'
@import '../mq'

.custom-route
    background-color: white ! important

a.active
  background-color: gray

.navbar
  background-color: #383838
  a:hover
    color: gray

.navbar-brand a
  color: #fff
  font-weight: bold

a.r-item
  color:#C1C1C1
  padding: 0.5rem 1.75rem
  +mobile
    color: gray
    &:hover
      background-color: #F1F1F1

.navbar-burger
  &:hover
    background-color: #F1F1F1
  span
    background-color: #C1C1C1

</style>
