<template>
  <div class="container">
    <div class="column is-12">
      <div class="box">
        <div class="field is-grouped">
          <h3 class="control title has-text-grey is-pulled-left">Create Bus</h3>
          <p class="control">
            <router-link :to="{ name: 'buses.index'}" class="button is-pulled-right">Go To Index</router-link>
          </p>
        </div>

        <hr>
        <form autocomplete="off" @submit.prevent="createBus" v-if="!success" method="post">
          <div class="field">
            <label for="name" class="label">Name</label>
            <div class="control" v-bind:class="{ 'has-error': error && errors.name }">
              <input id="name" class="input" type="text" placeholder="e.g Rutaca" v-model="bus.name" autofocus="true">
              <span class="help is-danger" v-if="error && errors.name">{{ errors.name }}</span>
            </div>
          </div>

          <div class="field">
            <label for="driver_name" class="label">Driver Name</label>
            <div class="control" v-bind:class="{ 'has-error': error && errors.driver_name }">
              <input id="driver_name" class="input" type="text" placeholder="John Doe" v-model="bus.driver_name">
              <span class="help is-danger" v-if="error && errors.driver_name">{{ errors.driver_name }}</span>
            </div>
          </div>

          <div class="field">
            <label for="bus_model" class="label">Bus Model</label>
            <div class="control" v-bind:class="{ 'has-error': error && errors.bus_model }">
              <input id="bus_model" class="input" type="text" placeholder="Minibus" v-model="bus.bus_model">
              <span class="help is-danger" v-if="error && errors.bus_model">{{ errors.bus_model }}</span>
            </div>
          </div>

          <div class="field">
            <label for="code" class="label">Number Of Seats</label>
            <div class="control" v-bind:class="{ 'has-error': error && errors.seats }">
              <input id="code" class="input" type="number" placeholder="15" v-model="bus.seats">
              <span class="help is-danger" v-if="error && errors.seats">{{ errors.seats }}</span>
            </div>
          </div>

          <div class="field">
            <div class="control">
              <label class="checkbox">
                            <input type="checkbox" v-on:click="bus.active == 0 ? bus.active = 1 : bus.active = 0"> Is Active
                            <span class="help is-danger" v-if="error && errors.active">{{ errors.active }}</span>
                          </label>
            </div>
          </div>

          <button class="button is-block is-info is-large is-fullwidth" :disabled="sendingRequest == true">Submit</button>
        </form>

      </div>
    </div>
  </div>
</template>

<script>
  export default {
    data() {
      return {
        bus: {
          name: null,
          bus_model:null,
          driver_name: null,
          active: 0,
          seats: null
        },
        success: false,
        error: false,
        errors: {},
        sendingRequest: false
      };
    },
    methods: {
      createBus() {
        var app = this;

        let payload = {
          formData: app.bus,
          vueInstance: app,
          redirectTo: 'buses.index',
          url: 'api/bus'
        };

        app.error = false;
        app.sendingRequest = true;

        Store.dispatch('createRecord', payload);
      }
    }
  };
</script>

<style>
  .hero.is-success {
    background: #ffffff;
  }

  .hero .nav,
  .hero.is-success .nav {
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .box {
    margin-top: 5rem;
  }

  .avatar {
    margin-top: -70px;
    padding-bottom: 20px;
  }

  .avatar img {
    padding: 5px;
    background: #fff;
    border-radius: 50%;
    -webkit-box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
    box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
  }

  input {
    font-weight: 300;
  }

  p {
    font-weight: 700;
  }

  p.subtitle {
    padding-top: 1rem;
  }
</style>
