<template>
  <div class="container">
    <div class="column is-12">
      <div class="box" v-if="!isLoading">
        <div class="field is-grouped">
          <h3 class="control title has-text-grey is-pulled-left">Update Route</h3>
          <p class="control">
            <router-link :to="{ name: 'routes.index'}" class="button is-pulled-right">Go To Index</router-link>
          </p>
        </div>

        <hr>
        <form autocomplete="off" @submit.prevent="updateRoute" v-if="!success" method="post">

          <div class="field">
            <label for="route_name" class="label">Route Name</label>
            <div class="control" v-bind:class="{ 'has-error': error && errors.route_name }">
              <input id="route_name" class="input" type="text" placeholder="e.g Medellín - Bogotá" v-model="route.route_name" autofocus="true">
              <span class="help is-danger" v-if="error && errors.route_name">{{ errors.route_name }}</span>
            </div>
          </div>

          <div class="field">
            <label for="bus_id" class="label">Select Bus</label>
            <div class="control">
              <div class="select is-fullwidth">
                 <div v-bind:class="{ 'has-error': error && errors.terminal_start_id }">
                  <select v-model="route.bus_id" class="styled-select slate" id="bus_id">
                    <option disabled value="">Select Bus</option>
                    <option v-for="bus in buses" v-bind:value="bus.id" :key="bus.id">
                      {{ bus.name }}
                    </option>
                  </select>
                  <span class="help is-danger" v-if="error && errors.bus_id">{{ errors.bus_id }}</span>
                </div>
              </div>
            </div>
          </div>

          <div class="field">
            <label for="terminal_start_id" class="label">Select Initial Terminal</label>
            <div class="control">
              <div class="select is-fullwidth">
                <div v-bind:class="{ 'has-error': error && errors.terminal_start_id }">
                  <select v-model="route.terminal_start_id" id="terminal_start_id" @change="fillEndTerminals()" >
                    <option disabled value="">Select Initial Terminal</option>
                    <option v-for="terminal in terminals" v-bind:value="terminal.id" :key="terminal.id">
                      {{ terminal.name }}
                    </option>
                  </select>
                  <span class="help is-danger" v-if="error && errors.terminal_start_id">{{ errors.terminal_start_id }}</span>
                </div>
              </div>
            </div>
          </div>

          <div class="field">
            <label for="terminal_end_id" class="label">Select Final  Terminal</label>
            <div class="control">
              <div class="select is-fullwidth">
                <div v-bind:class="{ 'has-error': error && errors.terminal_end_id }">

                  <select v-model="route.terminal_end_id" id="terminal_end_id" :disabled="activateFinalTerminals == false" >
                      <option disabled value="">Select Final Terminal</option>

                      <option v-for="terminal in endTerminals" v-bind:value="terminal.id" :key="terminal.id" :selected="true"
                        :disabled="terminal.id == route.terminal_start_id">
                          {{ terminal.name }}
                      </option>
                  </select>

                  <span class="help is-danger" v-if="error && errors.terminal_end_id">{{ errors.terminal_end_id }}</span>
                </div>
              </div>
            </div>
          </div>

          <div class="field">
            <label for="price" class="label">Route Price In COP</label>
            <div class="control is-fullwidth">
              <div v-bind:class="{ 'has-error': error && errors.price }">
                  <input id="price" class="input" type="number" placeholder="150" v-model="route.price">
                  <span class="help is-danger" v-if="error && errors.price">{{ errors.price }}</span>
              </div>
            </div>
          </div>

          <button class="button is-block is-info is-large is-fullwidth" :disabled="sendingRequest == true">Updated</button>
        </form>

      </div>
    </div>
  </div>
</template>

<script>
  export default {
    computed: {
      route() {
        let app = this;
        let routeData = Store.getters.getModuleData;

        if (routeData) {
          Store.dispatch('loadingModal', {
            vueInstance: app,
            action: 'hide'
          });
        }
        return routeData;
      }
    },
    mounted() {
      let app = this;
      Store.dispatch('loadingModal', {
        vueInstance: app,
        action: 'show'
      });

      let id = app.$route.params.id;

      let payload = {
        url: 'api/route/' + id,
        vueInstance: app,
        redirectTo: 'routes.index'
      };
      Store.dispatch('readOne', payload);

        app.getTerminals();
        app.getBuses();
    },
    data() {
      return {
        buses: {},
        terminals: {},
        endTerminals: {},
        activateFinalTerminals: true,
        success: false,
        error: false,
        errors: {},
        sendingRequest: false,
        isLoading: true
      };
    },
    methods: {
      updateRoute() {
        let app = this
        app.sendingRequest = true;
        let id = app.$route.params.id;

        let updatedRouteData = {
          route_name:         app.route.route_name,
          bus_id:             app.route.bus_id,
          terminal_start_id:  app.route.terminal_start_id,
          terminal_end_id:    app.route.terminal_end_id,
          price:              app.route.price,
          active:             1,
        };

        let payload = {
          url: 'api/route/' + id,
          formData: updatedRouteData,
          vueInstance: app,
          redirectTo: 'routes.index'
        };

        Store.dispatch('updateRecord', payload);
      },
      getTerminals() {
        var app = this;

        let url = 'api/terminal';

        let action = 'show';

        let information = {
          action : action,
          vueInstance: app
        };

        Store.dispatch("loadingModal", information);

        axios
          .get(url)
          .then(response => {
            app.terminals = response.data.info;
            app.endTerminals = response.data.info;
            action = 'hide';
            information = {
              action : action,
              vueInstance: app
            };
            Store.dispatch("loadingModal", information);
            })
          .catch(errorResponse => {
            let notification = 'Something Went Wrong Getting Terminals: ' + errorResponse.request.statusText;
            app.$toasted.error(notification, {
              //theme of the toast you prefer
              theme: "bubble",
              //position of the toast container
              position: "bottom-center",
              //display time of the toast
              duration: 5000
            });
          });
      },
      getBuses() {
        var app = this;

        let url = 'api/bus';

        let action = 'show';

        let information = {
          action : action,
          vueInstance: app
        };

        Store.dispatch("loadingModal", information);

        axios
          .get(url)
          .then(response => {
            app.buses = response.data.info;
            action = 'hide';
            information = {
              action : action,
              vueInstance: app
            };
            Store.dispatch("loadingModal", information);
            })
          .catch(errorResponse => {
            let notification = 'Something Went Wrong Getting Buses: ' + errorResponse.request.statusText;
            app.$toasted.error(notification, {
              //theme of the toast you prefer
              theme: "bubble",
              //position of the toast container
              position: "bottom-center",
              //display time of the toast
              duration: 5000
            });
          });
      },
      fillEndTerminals(){
        let app = this;
        app.endTerminals = {};
        let startTerminal = app.route.terminal_start_id;

        if( ! startTerminal )
          return {};

        let url = 'api/terminal/filtered/' + startTerminal;

        let action = 'show';

        let information = {
          action : action,
          vueInstance: app
        };

        Store.dispatch("loadingModal", information);

        axios
          .get(url)
          .then(response => {
            action = 'hide';
            information = {
              action : action,
              vueInstance: app
            };
            Store.dispatch("loadingModal", information);
            app.activateFinalTerminals = true;
            app.endTerminals = response.data.info;
            })
          .catch(errorResponse => {
            let notification = 'Something Went Wrong Getting Final Terminals: ' + errorResponse.request.statusText;
            app.$toasted.error(notification, {
              //theme of the toast you prefer
              theme: "bubble",
              //position of the toast container
              position: "bottom-center",
              //display time of the toast
              duration: 5000
            });
          });
      }
    }
  };
</script>

<style>
  .hero.is-success {
    background: #ffffff;
  }

  .hero .nav,
  .hero.is-success .nav {
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .box {
    margin-top: 5rem;
  }

  .avatar {
    margin-top: -70px;
    padding-bottom: 20px;
  }

  .avatar img {
    padding: 5px;
    background: #fff;
    border-radius: 50%;
    -webkit-box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
    box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
  }

  input {
    font-weight: 300;
  }

  p {
    font-weight: 700;
  }

  p.subtitle {
    padding-top: 1rem;
  }
</style>
