<template>
  <div class="container has-text-centered" v-if="isAuth">
    <div class="column is-12">
      <div class="box">
        <div class="field is-grouped">
          <h3 class="control title has-text-grey is-pulled-left">Routes Index</h3>
          <p class="control">
            <router-link :to="{ name: 'routes.create'}" class="button is-pulled-right">Create</router-link>
          </p>
        </div>

        <hr>

        <vue-good-table @on-select-all="selectAll" @on-row-click="toggleSelectRow" id="buses-records" :columns="columns" :rows="rows" :select-options="{ enabled: true, selectionText: 'rows selected', }" :search-options="{ enabled: true }" :pagination-options="{
                                              enabled: true,
                                              perPage: 5,
                                          }" styleClass="vgt-table striped bordered">

          <div slot="table-actions">
            <p class="buttons" id="action-buttons">
              <a class="button is-success" :disabled="enableEdit == false" v-on:click="editRoute()">
                <span>Edit</span>
              </a>
              <a class="button is-danger" :disabled="enableDelete == false" v-on:click="deleteRoutes()">
                <span>Delete</span>
              </a>
            </p>
          </div>

        </vue-good-table>

      </div>
    </div>
  </div>
</template>

<script>
  import "vue-good-table/dist/vue-good-table.css";
  export default {
    computed: {
      isAuth() {
        return Store.getters.isAuthenticated;
      }
    },
    mounted() {
      if (Store.getters.isAuthenticated) {
        let app = this;
        app.getRoutes();
        Store.commit('setModuleData', {});
      }
    },
    data() {
      return {
        allSelected: false,
        enableEdit: false,
        enableDelete: false,
        selectedGridRecords: [],
        columns: [
          {
            label: "Route Name",
            field: "route_name",
            filterOptions: {
              enabled: true
            }
          },
          {
            label: "Bus Name",
            field: "bus_name",
            filterOptions: {
              enabled: true
            }
          },
          {
            label: "Start Terminal",
            field: "start_terminal"
          },
          {
            label: "End terminal",
            field: "end_terminal"
          },
          {
            label: "Route Price",
            field: "price",
            type: "number"
          }
        ],
        rows: []
      };
    },
    methods: {
      getRoutes() {
        var app = this;

        let payload = {
          url: 'api/route',
          vueInstance: app
        };

        Store.dispatch('readAll', payload);
      },
      editRoute() {
        var app = this;
        let recordToEdit = app.selectedGridRecords;

        if (recordToEdit.length > 1) {
          this.$toasted.info(
            "You only can update one record at time, please validate!", {
              //theme of the toast you prefer
              theme: "bubble",
              //position of the toast container
              position: "bottom-center",
              //display time of the toast
              duration: 5000
            }
          );

          return false;
        } else {
          app.$router.push({
            name: 'routes.edit',
            params: {
              id: recordToEdit[0]
            }
          });
          return true;
        }
      },
      deleteRoutes() {
        var app = this;
        let recordsToDetele = app.selectedGridRecords;

        if (recordsToDetele.length == 0) {
          this.$toasted.info(
            "You must select one record to continue with this operation, please validate!", {
              //theme of the toast you prefer
              theme: "bubble",
              //position of the toast container
              position: "bottom-center",
              //display time of the toast
              duration: 5000
            }
          );

          return false;
        } else {

          app.$swal({
            title: "Are you sure?",
            text: "You will not be able to recover this record(s)!",
            icon: "warning",
            buttons: [
              'No, cancel it!',
              'Yes, I am sure!'
            ],
            dangerMode: true,
          }).then(function(isConfirm) {
            if (isConfirm) {
              let payload = {
                url: 'api/route/delete',
                vueInstance: app,
                formData: {
                  'remove': recordsToDetele
                }
              };

              Store.dispatch('deleteRecord', payload);
            }
          })
          return true;
        }
      },
      selectAll(params) {
        if (params.selected) {
          this.enableDelete = true;
          this.selectedGridRecords = [];
          params.selectedRows.forEach(selectedRow => {
            this.selectedGridRecords.push(selectedRow.id);
          });
        } else {
          this.enableEdit = false;
          this.enableDelete = false;
          this.selectedGridRecords = [];
        }
      },
      toggleSelectRow(params) {
        if (params.selected) {
          this.selectedGridRecords.push(params.row.id);
          this.enableEdit = true;
          this.enableDelete = true;
        } else {
          this.selectedGridRecords.forEach(selectedGridRecords => {
            let index1 = this.selectedGridRecords.indexOf(params.row.id);
            if (index1 > -1) {
              this.selectedGridRecords.splice(index1, 1);
            }
          });
        }

        if (this.selectedGridRecords.length == 0) {
          this.enableEdit = false;
          this.enableDelete = false;
        } else if (this.selectedGridRecords.length == 2) {
          this.enableEdit = false;
        }
      }
    }
  };
</script>

<style>
  .hero.is-success {
    background: #ffffff;
  }

  .hero .nav,
  .hero.is-success .nav {
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .box {
    margin-top: 5rem;
  }

  .avatar {
    margin-top: -70px;
    padding-bottom: 20px;
  }

  .avatar img {
    padding: 5px;
    background: #fff;
    border-radius: 50%;
    -webkit-box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
    box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
  }

  input {
    font-weight: 300;
  }

  p {
    font-weight: 700;
  }

  p.subtitle {
    padding-top: 1rem;
  }
</style>
