<template>
  <div class="container">
    <div class="column is-12">
      <div class="box" v-if="!isLoading">
        <div class="field is-grouped">
          <h3 class="control title has-text-grey is-pulled-left">Update Terminal {{terminal.name}}</h3>
          <p class="control">
            <router-link :to="{ name: 'terminal.index'}" class="button is-pulled-right">Go To Index</router-link>
          </p>
        </div>

        <hr>
        <form autocomplete="off" @submit.prevent="updateTerminal" v-if="!success" method="post">
          <div class="field">
            <label for="name" class="label">Name</label>
            <div class="control" v-bind:class="{ 'has-error': error && errors.name }">
              <input id="name" class="input" type="text" placeholder="e.g Rutaca" v-model="terminal.name" autofocus="true">
              <span class="help is-danger" v-if="error && errors.name">{{ errors.name }}</span>
            </div>
          </div>

          <div class="field">
            <label for="description" class="label">Description</label>
            <div class="control" v-bind:class="{ 'has-error': error && errors.description }">
              <input id="description" class="input" type="text" placeholder="00005" v-model="terminal.description">
              <span class="help is-danger" v-if="error && errors.description">{{ errors.description }}</span>
            </div>
          </div>

          <div class="field">
            <div class="control">
              <label class="checkbox">
                                        <input type="checkbox" v-model="terminal.active" v-on:click="terminal.active == false ? 0 : 1"> Is Active
                                        <span class="help is-danger" v-if="error && errors.active">{{ errors.active }}</span>
                                      </label>
            </div>
          </div>

          <button class="button is-block is-info is-large is-fullwidth" :disabled="sendingRequest == true">Updated</button>
        </form>

      </div>
    </div>
  </div>
</template>

<script>
  export default {
    computed: {
      terminal() {
        let app = this;
        let terminalData = Store.getters.getModuleData;

        if (terminalData) {
          Store.dispatch('loadingModal', {
            vueInstance: app,
            action: 'hide'
          });
        }

        return terminalData;
      }
    },
    mounted() {
      let app = this;
      Store.dispatch('loadingModal', {
        vueInstance: app,
        action: 'show'
      });

      let id = app.$route.params.id;

      let payload = {
        url: 'api/terminal/' + id,
        vueInstance: app,
        redirectTo: 'terminal.index'
      };

      Store.dispatch('readOne', payload);
    },
    data() {
      return {
        success: false,
        error: false,
        errors: {},
        sendingRequest: false,
        isLoading: true
      };
    },
    methods: {
      updateTerminal() {
        let app = this
        app.sendingRequest = true;
        let id = app.$route.params.id;

        let updatedTerminal = {
          name: app.terminal.name,
          description: app.terminal.description,
          active: (app.terminal.active == 1 || app.terminal.active == true) ? 1 : 0 ,
        };

        let payload = {
          url: 'api/terminal/' + id,
          formData: updatedTerminal,
          vueInstance: app,
          redirectTo: 'terminal.index'
        };

        Store.dispatch('updateRecord', payload);
      }
    }
  };
</script>

<style>
  .hero.is-success {
    background: #ffffff;
  }

  .hero .nav,
  .hero.is-success .nav {
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .box {
    margin-top: 5rem;
  }

  .avatar {
    margin-top: -70px;
    padding-bottom: 20px;
  }

  .avatar img {
    padding: 5px;
    background: #fff;
    border-radius: 50%;
    -webkit-box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
    box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
  }

  input {
    font-weight: 300;
  }

  p {
    font-weight: 700;
  }

  p.subtitle {
    padding-top: 1rem;
  }
</style>
