<template>
  <div class="container">
    <div class="column is-12">
      <div class="box" v-if="!isLoading">
        <div class="field is-grouped">
          <h3 class="control title has-text-grey is-pulled-left">Update User {{user.name}}</h3>
          <p class="control">
            <router-link :to="{ name: 'users.index'}" class="button is-pulled-right">Go To Index</router-link>
          </p>
        </div>

        <hr>
        <form autocomplete="off" @submit.prevent="updateUser" v-if="!success" method="post">

          <div class="field">
            <div class="control" v-bind:class="{ 'has-error': error && errors.name }">
              <input id="name" class="input is-large" type="text" placeholder="John Doe" v-model="user.name" autofocus="true" required>
                <span class="help is-danger" v-if="error && errors.name">{{ errors.name }}</span>
            </div>
          </div>

          <div class="field">
            <div class="control" v-bind:class="{ 'has-error': error && errors.email }">
              <input id="email" class="input is-large" type="email" placeholder="user@example.com" v-model="user.email" required>
              <span class="help is-danger" v-if="error && errors.email">{{ errors.email }}</span>
            </div>
          </div>

          <div class="field">
            <label for="role_id" class="label">Select User Role</label>
            <div class="control">
              <div class="select is-fullwidth">
                 <div v-bind:class="{ 'has-error': error && errors.role_id }">
                  <select v-model="user.role_id" class="styled-select slate" id="role_id">
                    <option disabled value="">Select Role</option>
                    <option value="1">Administrator</option>
                    <option value="2">Default User</option>
                  </select>
                  <span class="help is-danger" v-if="error && errors.role_id">{{ errors.role_id }}</span>
                </div>
              </div>
            </div>
          </div>

          <hr>

          <button class="button is-block is-info is-large is-fullwidth" :disabled="sendingRequest == true">Updated</button>
        </form>

      </div>
    </div>
  </div>
</template>

<script>
  export default {
    computed: {
      user() {
        let app = this;
        let usertData = Store.getters.getModuleData;

        if (usertData) {
          Store.dispatch('loadingModal', {
            vueInstance: app,
            action: 'hide'
          });
        }

        return usertData;
      }
    },
    mounted() {
      let app = this;
      Store.dispatch('loadingModal', {
        vueInstance: app,
        action: 'show'
      });

      let id = app.$route.params.id;

      let payload = {
        url: 'api/users/' + id,
        vueInstance: app,
        redirectTo: 'users.index'
      };

      Store.dispatch('readOne', payload);
    },
    data() {
      return {
        success: false,
        error: false,
        errors: {},
        sendingRequest: false,
        isLoading: true
      };
    },
    methods: {
      updateUser() {
        let app = this
        app.sendingRequest = true;
        let id = app.$route.params.id;

        let updatedUserData = {
          name:     app.user.name,
          email:    app.user.email,
          role_id:  app.user.role_id,
        };

        let payload = {
          url: 'api/users/' + id,
          formData: updatedUserData,
          vueInstance: app,
          redirectTo: 'users.index'
        };

        Store.dispatch('updateRecord', payload);
      }
    }
  };
</script>

<style>
  .hero.is-success {
    background: #ffffff;
  }

  .hero .nav,
  .hero.is-success .nav {
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .box {
    margin-top: 5rem;
  }

  .avatar {
    margin-top: -70px;
    padding-bottom: 20px;
  }

  .avatar img {
    padding: 5px;
    background: #fff;
    border-radius: 50%;
    -webkit-box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
    box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
  }

  input {
    font-weight: 300;
  }

  p {
    font-weight: 700;
  }

  p.subtitle {
    padding-top: 1rem;
  }
</style>
