<template>
  <div id="app">
      <Navigation></Navigation>
      <router-view></router-view>
  </div>
</template>

<script>
  import Navigation from "@/components/Navbar";
  export default {
    name: "App",
    components: {
      Navigation
    },
    data: function() {
      return {
        isActive: false
      };
    },
    methods: {
      toggleNav: function() {
        this.isActive = !this.isActive;
      }
    }
  };
</script>

<style lang="sass">
@import '../node_modules/bulma/bulma.sass'
@import 'mq'
</style>
